.ArticleDetails {
    min-height: 100%;
}


.avatar {
    margin: 0 auto;
}

.skeletonItems{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.skeletonItems :nth-child(2) {
    margin-top: 20px;
}

.avatarWrapper{
    display: flex;
    justify-content: center;
}

.articleInfo{
    display: flex;
    align-items: center;
}

.articleInfo :nth-child(1) {
    margin-right: 10px;
}

.block{
    margin-top: 16px;
}
