.app_blue_theme {
    --bg-color: #002bef;
    --inverted-bg-color: #F4F5FB;
    --primary-color: #F4F5FB;
    --secondary-color: #F4F5FB;
    --inverted-primary-color: #0232c2;
    --inveted-secondary-color: #0449e0;
}
